<div class="router-outlet-style">
  <section class="app">
    <div [class.dark-theme]="isDarkTheme">

      <mat-toolbar color="primary" class="mat-elevation-z10 toolbar-style">
        <div id="menu-buttons">
          <button mat-button routerLink="home">{{"home" }}</button>
          <button mat-button routerLink="articles">{{"articles"}}</button>
          <button mat-button routerLink="places">{{"places" }}</button>
          <button mat-button routerLink="plans">{{"plans" }}</button>
          <button mat-button routerLink="about">{{"about" }}</button>
          <button mat-button routerLink="contact">{{"contact" }}</button>
          <button mat-button routerLink="sponsors">{{"sponsors" }}</button>
        </div>

        <div id="menu-hamburger">
          <button mat-icon-button type="button" mat-button (click)="toggleSideNav()">
            <mat-icon *ngIf="!isSideNavOpened">menu</mat-icon>
            <mat-icon *ngIf="isSideNavOpened">clear</mat-icon>
          </button>
        </div>
        <span class="spacer"></span>
        <img src="../assets/logo/logo.svg" class="logo-image">
        <span class="spacer"></span>
        <span class="spacer another-spacer"></span>
        <button mat-icon-button (click)="toggleFullScreen()">
          <mat-icon *ngIf="isFullScreen" matTooltip="{{'fullscreen_exit'  }}"
                    [matTooltipShowDelay]="showDelay">
            fullscreen_exit
          </mat-icon>
          <mat-icon *ngIf="!isFullScreen" matTooltip="{{'fullscreen'  }}" [matTooltipShowDelay]="showDelay">
            fullscreen
          </mat-icon>
        </button>
        <button mat-icon-button [matMenuTriggerFor]="more" matTooltip="{{'options'  }}"
                [matTooltipShowDelay]="showDelay">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #more="matMenu">
          <button mat-menu-item (click)="toggleTheme()">
            <mat-icon>format_color_fill</mat-icon>
            {{"toggle_theme" }}
          </button>
        </mat-menu>
      </mat-toolbar>

      <mat-sidenav-container>

        <mat-sidenav #sidenav class="sidenav">
          <hr>
          <button mat-menu-item routerLink="home" (click)="toggleSideNav()">{{"home" }}</button>
          <hr>
          <button mat-menu-item routerLink="articles" (click)="toggleSideNav()">{{"articles" }}</button>
          <hr>
          <button mat-menu-item routerLink="places" (click)="toggleSideNav()">{{"places" }}</button>
          <hr>
          <button mat-menu-item routerLink="plans" (click)="toggleSideNav()">{{"plans" }}</button>
          <hr>
          <button mat-menu-item routerLink="about" (click)="toggleSideNav()">{{"about" }}</button>
          <hr>
          <button mat-menu-item routerLink="contact" (click)="toggleSideNav()">{{"contact" }}</button>
          <hr>
          <button mat-menu-item routerLink="sponsors" (click)="toggleSideNav()">{{"sponsors" }}</button>
          <hr>
        </mat-sidenav>

        <router-outlet class="router"></router-outlet>

      </mat-sidenav-container>
    </div>
  </section>

</div>
