.image-style {
  width: 100%;
  height: auto;
}

.gallery {
  height: 100vh;
}

.container {
  height: 90vh;
}

img {
  height: 100%;
  width: auto;
  display: block;
  margin: 5px auto;
}

.button-style {
  position: fixed;
}

.next {
  top: 42vh;
  right: 2em;
}

.previous {
  top: 42vh;
  left: 2em;
}

